.{{component-name-kebab}} {
  &__content {
    display: block;
    padding: 1rem;
  }

  /* Mobile-first breakpoints */
  @media (min-width: 600px) {
    &__content {
      padding: 1.5rem;
    }
  }
}
